services:
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "3000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - app_uploads:/app/uploads:ro
    depends_on:
      - api
      - frontend
    networks:
      - app_net

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}

      JWT_SECRET: ${JWT_SECRET}
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      ENCRYPTION_KEY_B64: ${ENCRYPTION_KEY_B64}

      CLIENT_URL: ${CLIENT_URL}
      PORT: 8000

    expose:
      - "8000"

    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app_net
    volumes:
      - app_uploads:/app/uploads

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_net

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    expose:
      - "6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - app_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_BASE_URL: /api
        API_BASE_URL_INTERNAL: http://api:8000
        NEXT_PUBLIC_UPLOADS_BASE_URL: ""
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "3000"
    depends_on:
      api:
        condition: service_started
    networks:
      - app_net

volumes:
  postgres_data:
  app_uploads:

networks:
  app_net:
    driver: bridge